/* UNIVERSAL CSS */

h1 {
	color:#008000;
}

h2 {
	color:#071d90;
}

h3 {
	color:#FFFFFF;
	background-color:rgba(0,128,0,0.8);
	padding:1px 0px 1px 10px;
	border-radius:5px;
}

h4 {
	color: #cc3333;
}

a:link, a:active, a:hover {
	color:#ff6000;
}

a:hover {
	color:#071d90;
}
/* END UNIVERSAL CSS */




/* NAVIGATION CSS */
.hh-topnav {
	font-size:12px;
}

.hh-mainnav {
	font-family:'myriad-pro-condensed';
	font-size:30px;
	font-weight:bold;
	margin-top:50px;
	text-align:center;
	
}

.hh-mainnav a:link, a:active, a:visited {
	color:#071D90;
}

.hh-mainnav li a:hover {
	background-color:#ffffff;
	color:#FF8C00;
}

.hh-mainnav li ul{
	font-family:'myriad-pro';
	font-size:16px;
	font-weight:normal;
	text-align:left;
	padding:10px;
}

.hh-mainnav li ul a:link, a:active, a:visited {
	color:#FF8C00;
}

.hh-mainnav li ul a:hover{
	color:#071D90;
	text-decoration:none;
}

.hh-headerbg {
	background-color:#ffffff;
}
/* END NAVIGATION CSS */




/* DESIGN ELEMENTS CSS */

.hh-margintop5 {
	margin-top:5px;
}

.hh-margintop20 {
	margin-top:20px;
}

.hh-margintop40 {
	margin-top:40px;
}

.hh-orangebtn-big {
	font-family:'myriad-pro-condensed';
	font-size:26px;
	background: #ff6000;
	background: -moz-linear-gradient(top,  #ff6000 0%, #ff843d 50%, #ff6000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6000), color-stop(50%,#ff843d), color-stop(100%,#ff6000));
	background: -webkit-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -o-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -ms-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: linear-gradient(to bottom,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ff6000',GradientType=0 );
	margin-bottom:10px;
}

.hh-intro {
	font-family:'myriad-pro-condensed';
	font-size:24px;
	line-height:26px;
}
/* END DESIGNELEMENTS CSS */




/* HOMEPAGE ONLY CSS */
#hh-hmpgbg {
	background-color:#CCCCCC;
	background-image:url('../img/hh-bg.jpg');
}

#hh-hmpgbg2 {
	background-color:#CCCCCC;
	background-image:url('../img/bg-opt2.jpg');
}

/**
#hh-hero {
	background-color:#CCCCCC;
	 background-image:url('../img/hh-hero.jpg');
}
**/

.hh-headbox {
	background-color:rgba(0,128,0,0.8);
	margin-top:40px;
	padding:1px 0px 1px 10px;
}

.hh-headbox h1 {
	color:#fff;
}

.hh-textbox {
	background-color:rgba(255,255,255,0.85);
	padding:10px;
	margin:20px 10px 0px 10px;
	font-size: 20px;
	line-height:25px
}

.hh-paperbox {
	margin-top:20px;
	background: #ffefb2;
	background: -moz-linear-gradient(top,  #ffefb2 0%, #fed200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefb2), 			color-stop(100%,#fed200));
	background: -webkit-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: -o-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: -ms-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: linear-gradient(to bottom,  #ffefb2 0%,#fed200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefb2', endColorstr='#fed200',GradientType=0 );
	box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	03.-webkit-box-shadow: 3px 3px 4px #000;
	04.box-shadow: 3px 3px 4px #000;
	05./* For IE 8 */
	06.-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	07./* For IE 5.5 - 7 */
	08.filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.hh-paperbox h4 {
	font-family:'myriad-pro';
	color:#000;
	text-align:center;
}

.hh-paperbox-number {
	font-size:40px;
	line-height:40px;
}

.hh-orangebtn {
	background: #ff6000;
	background: -moz-linear-gradient(top,  #ff6000 0%, #ff843d 50%, #ff6000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6000), color-stop(50%,#ff843d), color-stop(100%,#ff6000));
	background: -webkit-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -o-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -ms-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: linear-gradient(to bottom,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ff6000',GradientType=0 );
}

.hh-iconrow {
	margin-top:20px;
}

.hh-iconrow a:link, a:visited, a:active {
	color:#071d90;
}

.hh-iconrow a:hover {
	text-decoration:none;
}

.hh-icon-donate {
	display: block;
	width: 175px;
	height: 175px;
	background: url('../img/hh-icon-donate.png');
	margin-left:auto;
	margin-right:auto;
}

.hh-icon-donate:hover {
	background: url('../img/hh-icon-donate2.jpg');
}

.hh-icon-find {
	display: block;
	width: 175px;
	height: 175px;
	background: url('../img/hh-icon-find.png');
	margin-left:auto;
	margin-right:auto;
}

.hh-icon-find:hover {
	background: url('../img/hh-icon-find2.png');
}

.hh-icon-plan {
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
}

.hh-icon-plan:hover {
	cursor:pointer;
	margin-top:-10px;
}
/* END HOMPAGE ONLY CSS */




/* MAIN PAGES ONLY CSS */
.hh-h3h3 {
	margin-top:0px;
}

.first-button {
	margin-top: 5px;
	margin-left:50px;
	width:200px;
}

.last-button {
	margin-top: 5px;
	margin-bottom:30px;
	margin-left:50px;
	width:200px;
}
/* END MAIN PAGES ONLY CSS */




/* INT PAGES ONLY CSS */
.hh-header9 {
	background-color:rgba(0,128,0,0.8);
	color:#fff;
	padding:5px;
}

#hh-events {
	background:url('../img/events-header.jpg');
	height:250px;
}
/* END INT PAGES ONLY CSS */




/* FOOTER CSS */
.hh-footer {
	background-color:#ffffff;
	background-image:url('../img/bg-hands2.png');
	padding:20px 0px 10px 0px;
	margin-top:50px;
	font-size:14px;
}
/* END FOOTER CSS */