/* UNIVERSAL CSS */

h1 {
	color:#008000;
}

h2 {
	color:#071d90;
}

h3 {
	color:#FFFFFF;
	background-color:#008000;
	margin-top:40px;
	padding:1px 0px 1px 10px;
}

h4 {
	color: #cc3333;
}

a:link, a:active, a:hover {
	color:#ff6000;
}

a:hover {
	color:#071d90;
}
/* END UNIVERSAL CSS */




/* NAVIGATION CSS */
.hh-navbg {
	background-image:url('../img/bg-grass.png')
}

.hh-topnav {
	font-size:12px;
}

.hh-mainnav {
	font-family:'myriad-pro-condensed';
	font-size:30px;
	font-weight:bold;
	margin-top:50px;
	text-align:center;
	
}

.hh-mainnav a:link, a:active, a:visited {
	color:#071D90;
}

.hh-mainnav li a:hover {
	background-color:#ffffff;
	color:#FF8C00;
}

.hh-mainnav li ul{
	font-family:'myriad-pro';
	font-size:16px;
	font-weight:normal;
	text-align:left;
	padding:10px;
}

.hh-mainnav li ul a:link, a:active, a:visited {
	color:#FF8C00;
}

.hh-mainnav li ul a:hover{
	color:#071D90;
	text-decoration:none;
}
/* END NAVIGATION CSS */




/* DESIGN ELEMENTS CSS */

.hh-margintop10 {
	margin-top:10px;
}

.hh-margintop20 {
	margin-top:20px;
}

.hh-headbox {
	background-color:rgba(0,128,0,0.8);
	margin-top:40px;
	padding:1px 0px 1px 10px;
}

.hh-headbox h1 {
	color:#fff;
}

.hh-textbox {
	background-color:rgba(255,255,255,0.75);
	padding:10px;
	margin:10px 10px 20px 10px;
	font-size: 20px;
	line-height:25px
}

.hh-paperbox {
	background: #ffefb2;
	background: -moz-linear-gradient(top,  #ffefb2 0%, #fed200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefb2), color-stop(100%,#fed200));
	background: -webkit-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: -o-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: -ms-linear-gradient(top,  #ffefb2 0%,#fed200 100%);
	background: linear-gradient(to bottom,  #ffefb2 0%,#fed200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefb2', endColorstr='#fed200',GradientType=0 );
	box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	03.-webkit-box-shadow: 3px 3px 4px #000;
	04.box-shadow: 3px 3px 4px #000;
	05./* For IE 8 */
	06.-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	07./* For IE 5.5 - 7 */
	08.filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.hh-paperbox h4 {
	font-family:'myriad-pro';
	color:#000;
	text-align:center;
}

.hh-paperbox-number {
	font-size:40px;
	line-height:40px;
}

.hh-orangebtn {
	background: #ff6000;
	background: -moz-linear-gradient(top,  #ff6000 0%, #ff843d 50%, #ff6000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6000), color-stop(50%,#ff843d), color-stop(100%,#ff6000));
	background: -webkit-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -o-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -ms-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: linear-gradient(to bottom,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ff6000',GradientType=0 );
}

.hh-orangebtn-big {
	font-family:'myriad-pro-condensed';
	font-size:26px;
	background: #ff6000;
	background: -moz-linear-gradient(top,  #ff6000 0%, #ff843d 50%, #ff6000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6000), color-stop(50%,#ff843d), color-stop(100%,#ff6000));
	background: -webkit-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -o-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: -ms-linear-gradient(top,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	background: linear-gradient(to bottom,  #ff6000 0%,#ff843d 50%,#ff6000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ff6000',GradientType=0 );
}
/* END DESIGNELEMENTS CSS */




/* HOMEPAGE ONLY CSS */
#hh-hmpgbg {
	background-color:#CCCCCC;
	background-image:url('../img/hh-bg.jpg');
}

/**
#hh-hero {
	background-color:#CCCCCC;
	 background-image:url('../img/hh-hero.jpg');
}
**/
/* END HOMPAGE ONLY CSS */



/* FOOTER CSS */
.hh-footer {
	background-color:#A4AfD3;
	background-image:url('../img/bg-grass.png');
	padding:20px 0px 10px 0px;
	margin-top:25px;
	font-size:12px;
}
/* END FOOTER CSS */